h3 ミスマッチ判別器を用いたイラストの着色転写手法の提案
p
  a(href="https://twitter.com/hiho_karuta")
    @hiho_karuta
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol4/hiroshiba.png")
p
  イラストの色特徴を他のイラストに転写したい．本実験では，GANを用いて色特徴ベクトルが線画とマッチするか判別することで，転写可能な色特徴空間を得る手法を提案する．
