h3 自由にポーズを決められる画像生成
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body
      img(width="50%" src="/assets/vol4/input_image_10320000.png")
      img(width="50%" src="/assets/vol4/output_image_10320000.png")
p
  画像生成が盛んに行われているが，実用性を考えると，完全自動生成ではなく製作者の意図を反映した画像生成を行いたい．本稿では，入力する意図として，ポーズを用いることで，自分の好きなポーズの画像を生成する．
