h3 ニューラルネットワークで画像圧縮
p
  a(href="https://twitter.com/brly__")
    @brly
p
  .panel.panel-default
    .panel-body
      img(width="100%" align="center" src="/assets/vol4/waveone.png")
p
  広く利用されている画像圧縮フォーマットである JPEG, JPEG 2000 や H.265 の画面内予測手法を元にした BPG よりも ファイルサイズあたりの画質を上回る圧縮手法が提案された. 一般的な画像圧縮フォーマットが用いる係数変換, 量子化, 算術符号化などの手続きを踏襲しつつも GAN などの仕組みを利用して特徴の抽出, 再構成画像の画質向上などが行われている. 本稿では提案された手法の簡易的な実装およびその解説を行う.
