h3 cupyを用いたCUDA開発
p
  a(href="https://twitter.com/kikusu") @kikusu

p
| chainerで使われているnumpyのgpu版とも言えるcupy.
| cupyではCUDAの関数を直接書いて使うこともできるのでpythonのインタラクティブ性を活かしながらCUDAの開発ができます．
| ここではcupyのCUDA関数の開発の方法を解説しアニメーションを作成する事を目指します．

img(width="100%" src="/assets/vol2/julia.gif")

