h3 画像生成技術を用いた百合カップルの娘推定
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol2/5328485_5462154.png")
p
  フィクションの世界では，現実には成し遂げられないことを実現していく楽しみがあるはずである．
  機械学習を含む科学技術というのも，やはりいまできないことを可能にしていく楽しみがあると考える．
  本稿では，近年盛り上がりを見せている，創作作品における百合カップリングのその先として，
  百合カップルにもしも娘をもうけることができたら，という妄想を，現在盛んに研究されている画像生成技術を用いて検証する．
