h3 アニメキャラクター金髪化支援システムの構築
p
  a(href="https://twitter.com/kivantium")
    @kivantium
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol2/golden_hair.png")
p
  近年，金髪の人気が高まっていることが知られている（筆者調べ）．
  そのため，既存のイラストの髪の色を金髪に変更する画像編集が（筆者によって）必要とされているが，GIMPなどの画像処理ソフトウェアではそこそこ手間のかかる作業が必要であった．
  本稿では，この課題を解決するために開発されたイラスト中のキャラクターの髪を金髪に変更する作業を支援するソフトウェアについて述べる．
