h3 競馬予測界のディープインパクトを作るために 前編
p
  a(href="https://twitter.com/henry0312")
    @henry0312
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol2/horse_racing.jpg")
p
  一度も負けることなく競走馬を引退するのではないか・・・？
  それほど強かった「ディープインパクト」の引退から10年経った2016年，世間では「ディープラーニング」ブームが巻き起こっている．
  近年，著しい発展を遂げているディープラーニングを駆使すれば，もう一度あの時のようなインパクトを与えることができるかもしれない．
  この記事は，そんな希望を持って，競馬予測の分野で一発当てるために試行錯誤した事例を紹介する．
