h3 非エキスパートが作るリバーシAI
p
  a(href="https://twitter.com/brly__")
    @brly__

p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol2/reversi.png")

p
  2016 年 3月 , AlphaGo と呼ばれる囲碁AIプログラムが世界最強とも謳われるプロに5戦して4勝1敗で勝ち越しという
  結果となり, 大きな話題を読んだ. AlphaGo は基本的にモンテカルロ木探索と, 沢山の棋譜データから学習した
  方策関数と評価関数を組み合わせて動作する.
  つまり沢山の棋譜データさえ用意出来れば, AlphaGo の手法を参考にすることで,
  ゲームを問わず, ゲームのエキスパートでない私でもそれなりに強いAIが作れるのではないだろうかと考えた.
  そこで, 同じような完全情報ゲームであるリバーシに着目して, AlphaGo の手法を参考にしてAIプログラムを作成し,
  強そうなリバーシAIと戦わせてみた.
