h3 丼丸認識API
p @brly
p
  | 本稿は, 丼丸を含む画像を HTTP POST した際に丼丸を含む矩形とその丼丸が何丼であるかの情報を 返すWebAPIを作成することを目的として, 試行錯誤した記録である. なお, 丼丸が一体何であるかについては
  a(href="http://sasafune.co.jp/")
    | http://sasafune.co.jp/
  | を参照されたい.
