h3 DTAMで復元する3Dアニメの世界
p @woodrush924
p アニメの世界の中を散歩したい！ 誰もが夢見るであろうその願望は， アニメの為の3DCG技術，そしてロボットの為の3次元再構成技術が出逢うとき， 急速に現実へ近くなる． この章では，街などを撮影した動画像から街の3Dモデルを得るためのDTAMという手法を， リアルな3DCGが用いられているアニメの映像に適用することにより， 放送されているアニメの映像のみからその中の世界を再構成しようとするものである．
