h3 実写←→アニメ画像変換
p
  a(href="https://twitter.com/hiho_karuta")
    @hiho_karuta
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol3/bidirectional_image_converter.png")
p
  近い将来，我々の姿を二次元に投射する技術が必要になるだろう．本報告では深層学習を用いて実写画像をアニメ画像に変換するモデルを提案する．対応関係のある実写画像とアニメ画像のデータセットは数が少ないため，対応関係のない画像を活用して画像変換の学習を行うが，この際，二種の画像ドメイン空間の対応関係を何らかの手法で得る必要がある．本報告では画像の形や色が近い空間は対応関係があると仮定し，対応関係のない実写画像とアニメ画像データセットを用いて画像変換を学習した例を示す．
