h3 アニメキャラクター金髪化システムの構築 改
p
  a(href="https://twitter.com/kivantium")
    @kivantium
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol3/golden_hair.png")
p
  近年，金髪の人気が高まっていることが知られている（筆者調べ）．本稿ではSIGNICO vol.2で開発したアニメキャラクター金髪化支援システムの発展について述べる．前号のシステムでは手作業による髪領域選択が必要であったが、今回は髪領域選択をFully Convolutional NetworkとGrabCutを用いて自動化したことで，全自動による金髪化が可能となった．
