h3 ディープドット絵ジェネレータ
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol3/iconizer.png")
p
  かわいい画像かわいさをなるべく保ったまま絵文字にしたいという欲求がある．本稿ではそれを機械学習によってサポートする．絵文字やドット絵を作るためには単に画像を縮小すればよいというものではなく，限られたピクセル数でなるべく元の絵のディティールを保った変換が必要である．本稿では，補助問題として超解像度画像生成を利用することで，逆の問題であるドット絵生成を実現する．
