h3 pix2pix を用いたノイズ削減フィルタの学習
p
  a(href="https://twitter.com/brly__")
    @brly__
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol3/noise_reduction.png")
p
  低ビットレートで符号化された映像は本来あるべき情報が欠落していたり, あるいは本来見られなかったようなノイズが重ねられる事により映像の視聴品質を低下させる問題がある. そこで本稿では pix2pix を用いてエンコード後の画像とエンコード前の画像間の変換を学習させることにより動画像にあらわれるノイズを低減するフィルタを学習することが出来るのではと考えその検証を行った.
