h3 Re-Identification For Anime Character Searching（アニメキャラクター検索のための人物再識別）
p
  a(href="https://twitter.com/kanei_ri")
    @kanei_ri
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol3/reid.png")
p
  Searching anime characters across different images is a rather challenging task. Because of the viewpoint change, pose change, the confusing background and the variations of painting style across artists. We may not get satisfying result by traditional image based searching methods. Person Re-IDentification(Re-ID) is a technology aiming to match person images captured from two non-overlapping cameras which is also suitable for anime characters searching. Usually a Person Re-ID system is composed of two parts: 1) character detection; 2) feature extraction and matching. Compared with traditional image searching method, Person Re-ID system is a character based system which uses compact feature vector for searching, can be faster and more accurate.
