h3 PGGANを改造して高精細なpix2pixを目指す
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body.text-center
      img(width="100%" src="/assets/vol6/pix2pix_pggan.png")
    .panel-body.text-center
      img(width="40%" src="/assets/vol6/color5_use_latent.png")
p
  GANの技術は日々進歩しており，生成される画像のクオリティは飛躍的に向上している．本稿では高精細な画像生成技術であるPGGANを用いてpix2pixを実装することで高精細な画像変換を目指す．
