h3 GANで顔交換アプリを作りたい
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol6/face_blend.png")
p
  人の顔に対する画像処理は需要がとてもあるようで、様々な画像処理の分野でも最も発展しているものの一つである．顔認識を利用して、写真内の人の顔を入れ替えるアプリなども出現している．本稿ではGANの技術を用いてこの"顔交換"を実現してみる．
