h3 機械学習による競技プログラミングアドバイスの検討
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol6/programming_teacher.png")
p
   競技プログラミングのコードはたくさんの人間が同じ問題を解いているので学習データにできないだろうか，あわよくばそのコードのどこがどれくらい間違っているかの評価ができないか，という取り組み．
