h3 Structure from Motionで復元する3Dアニメの世界
p
  a(href="https://twitter.com/woodrush924")
    @woodrush924
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/sfm_summary.png")
p ヘッドマウントディスプレイや3DCGは身近な技術となり，今は正にバーチャルリアリティの夜明けであると言われている．そんな中，従来映像として配信されてきたアニメの中の世界を体験するには，アニメ世界の3Dモデリングが要となるが，一般人にはこれは難しい．本稿では，この問題に対しコンピュータビジョンの分野からの解決を目指す．本稿では，街を多数の視点から写した写真群から街の3Dモデルが得られる Structure from Motion という手法を，3DCGアニメの映像に適用することで，放送されている3DCGアニメの映像から，その中の3Dモデルを自動的に再構成する問題を解いてみた．