h3 Bayesian Active Learningがやりたい
p
  a(href="https://twitter.com/cocu_tan")
    @cocu_tan
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol5/bal.png")
p
  オタク機械学習において学習データは著作物であることが多く，データのラベル付けが研究者の間で非常に苦痛の作業となっている事実がある(私感)．本稿では，識別問題において訓練データのラベル付けのコストを削減する技術であるActive Learningと，そのベイズ的発展であるBayesian Active Learningを紹介する．加えて，ベイズ的な深層学習モデルであるBayesian Neural Networkの手法についても紹介し，実装のコストや精度についても言及する．Bayesian Neural Network入門記事みたいになってたらいいなぁ．
