h3 もっとも手軽に使える嫁画像生成ライブラリ
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol5/20180419_signico_vol5_kawaii_generator_short.gif")
p
  ヲタクの情熱によって嫁画像生成はここ数年で圧倒的な進化を遂げた．その中で我々は，pipで一行でインストールでき，以下の三行で無限に嫁画像が生成される，もっとも手軽なライブラリを提案する．
  pre
    code(class="prettyprint lang-py")
      | from chainer_progressive_gan import KawaiiGenerator
      | for image in KawaiiGenerator():
      |   image.show()
