h3 機械学習で写真のポーズを自由に変える
p
  a(href="https://twitter.com/Hi_king")
    @Hi_king
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol5/idea.png")
p
  近年の画像生成技術の発展によって，我々は好みの嫁画像生成に近づいてきている．しかしヲタクの業は深いもので，嫁の画像が生成できれば次は動かしたくなるというのが性である．本稿では，任意の入力画像に好きなポーズを取らせるための手法を実装する．
