h3 CycleGANを用いたリアルタイム結月ゆかり声質変換
p
  a(href="https://twitter.com/hiho_karuta")
    @hiho_karuta
p
  .panel.panel-default
    .panel-body
      img(width="100%" src="/assets/vol5/vc.png")
p
  本稿では，音声のパラレルデータ（対応関係のあるデータ）を必要としないCycleGANという手法を使って声質変換する実験を行う．本手法では声質変換を，音韻性を重視した低次元音響特徴量の変換と，話者性を重視したスペクトログラムの高精細化の二段階に分ける．低次元音響特徴量の変換では，CycleGANを用いて学習する．スペクトログラムの高精細化では，pix2pixを用いて学習する．これらの変換で用いるニューラルネットワークは全て畳込み層のみから構成されており，リアルタイムで声質変換することができる．
