- site_name = "SIGNICO"

head
  title
    | SIGNICO

  meta(charset="utf-8")
  meta(http-equiv="content-style-type" content="text/css")
  meta(http-equiv="content-script-type" content="text/javascript")

  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@Hi_king")
  meta(name="twitter:creator" content="@Hi_king")

  meta(property="og:url" content="http://signico.hi-king.me")
  meta(property="og:image" content="http://signico.hi-king.me/assets/site.png")
  meta(property="og:site_name" content="SIGNICO")
  meta(property="og:title" content="SIGNICO")
  meta(property="og:description" content="統計・機械学習を用いて世の中のわりとどうでも良い問題を検証します。")
  meta(property="og:type" content="article")
  meta(property="og:type" content="website")

  link(rel="stylesheet" href="/assets/Umi/dist/css/bootstrap.min.css" type="text/css")
  script(src="/assets/jquery/dist/jquery.min.js")
  script(src="/assets/Umi/dist/js/bootstrap.min.js")
  script(src="/assets/masonry/dist/masonry.pkgd.min.js")
  script
    | $(function(){
    |   $(".grid").masonry();
    | });