html(lang="ja-jp")
  include header
  body
    header
      .navbar.navbar-default
        .container
          .navbar-header
            a.navbar-brand(href="#")
              | SIGNICO


    .container
      .row
        .jumbotron
          h1 SIGNICO
          p 統計・機械学習を用いて世の中のわりとどうでも良い問題を検証します．

      .page-header
        h1 コミックマーケット C90
      p
        | SIGNICO は4/29・30日に，ニコニコ超会議併催の超技術書展にて新刊"SIGNICO vol.3"と既刊"SIGNICO vol.2"，"SIGNICO vol.1"を頒布します．

      h2 SIGNICO vol.3 掲載論文一覧
      .grid
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol3/iconizer
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol3/bidirectional_image_converter
      h2 SIGNICO vol.2 掲載論文一覧
      .grid
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol2/dcgan
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol2/horse_racing
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol2/reversi
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol2/golden_hair

        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol2/cupy_intro

      h2 SIGNICO vol.1 掲載論文一覧
      .grid
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol1/frame_interpolation
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol1/donmaru_recognition_api
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol1/topic_model
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol1/sfm
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/vol1/deep_breasts
