html(lang="ja-jp")
  include header
  body
    header
      .navbar.navbar-default
        .container
          .navbar-header
            a.navbar-brand(href="#")
              | SIGNICO

    
    .container
      .row
        .jumbotron
          h1 SIGNICO
          p 統計・機械学習を用いて世の中のわりとどうでも良い問題を検証します。

      .page-header
        h1 コミックマーケット C89 
      p 
        | SIGNICO はC89で
        span.text-danger
          ３日目東ム60a "signico"
        | にて"SIGNICO vol.1"を頒布します。
      h2 SIGNICO vol.1 掲載論文一覧
      .grid
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/frame_interpolation
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/donmaru_recognition_api
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/topic_model
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/sfm
        .col-lg-6
          .panel.panel-primary
            .panel-body
              include ./papers/deep_breasts